section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-of-type(even) {
      background-color: #eee;
    }
  }
  .box {
    background-color: purple;
    padding: 100px;
  }