.code-block {
	width: parent;
	margin-left: 50px;
	margin-top: 25px;
	height: 50px;
}
.row {
	display: flex;
	margin-bottom: 20px;
}

.column {
	flex: 50%;
	margin-bottom: 20px;
	min-height: 100vh;
	margin-left: 10px;
	margin-right: 30px;
}

.alg-description {
	margin-bottom: 50px;
}
#heading-explainer {
	margin-left: 50px;
}

#right-col {
	font-size: 23pt;
}

.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

/*
#ft{
	
}*/
